In [62]:
print()

In [63]:
print("SHALINI SHUKLA")

SHALINI SHUKLA

Raw output are only for developer understanding

In [64]:

"SHALINI SHUKLA"

'SHALINI SHUKLA'

In [65]:
5+7

12

In [66]:
print('Shalini','Kajal','Rushil')

Shalini Kajal Rushil

In [67]:
print(1,2,3,4,5,60,)

1 2 3 4 5 60

In [68]:
print('1,2,3,4,5,6')

1,2,3,4,5,6

In [69]:
print('This is python data science')
print('We are going to code')
print('And learn the secrete of python')

This is python data science
We are going to code
And learn the secrete of python

In [70]:
print('This is python data science We are going to code And learn the secrete of python')

This is python data science We are going to code And learn the secrete of python

In [71]:
print('This is python data science\n We are going to code\n And learn the secrete of python')

This is python data science
 We are going to code
 And learn the secrete of python

In [72]:
print('''This is python data science')
We are going to code 
And learn the secrete of python''')

This is python data science')
We are going to code
And learn the secrete of python

In [73]:
print(1,2,3,4,5,6,sep='/')

1/2/3/4/5/6

In [74]:
print(1,2,3,4,5,6,sep='$')

1$2$3$4$5$6

In [75]:
print('This')
print('is')
print('my')
print('code')

This
is
my
code

In [76]:
print('This')
print('is',end=' ') # space between commas in end.
print('my')
print('code')

This
is my
code

In [77]:
print('This')
print('is',end='@') # @ between commas in end.
print('my')
print('code')

This
is@my
code

Creation of variable age=18 Name='Bob' Color='red' Color2='red' is sleeping=False

In [78]:

age=18 
Name='Bob' 
Color='red' 
Color2='red' 
is_sleeping=False

In [79]:
Name='Nobita'

In [80]:
age=25

Datatypes can be change by changing the value of variable

In [81]:

color2=12

In [82]:
x=12
y=135454345634
z=54698561556599999999999
k=.155356335

In [83]:
name="aish o1"

In [84]:
a=[1,5,8,7]
values=[1,22,'python']
colors=['red','blue','green']

In [112]:
name=input('What is your name?')
city=input('Which city do you live in?')
print('So according to you ')
print('You are',name)
print('and you live in',city)

So according to you
You are SHALINI SHUKLA
and you live in LUCKNOW

OPERATORS

In [ ]:
# arithmetic operator
a=100
b=33

print(a+b)# add
print(a-b)# sub
print(a*b)# mul
print(a/b)# float div

133
67
3300
3.0303030303030303

In [ ]:
print(a//b)# int div
print(a%b)# remainder
print(a**b)# exponentiation

3
1
1000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
print(23%5)# remainder

3

In [87]:
10**3 #power or exponent

1000

In [88]:
# assignment operator
a=10
b=5
c=3
# alternate way to assign a value to a variable
x,y,z=10,20,30

In [55]:
a +=2 # update a with a+2
a-=2 # update a with a-2
a*=2 # update a with a*2
a/=2 # update a with a/2
a%=2 # update a with a%2
a**=2 # update a with a**2
a//=2 # update a with a//2

In [56]:
# COMPARISON OPERATORS
print(a>b)# greater then
print(a>=b)# greater then or equal to
print(a<b)# less than
print(a<=b)# less than or equal to
print(a==b)# equal to
print(a!=b)# not equal to

False
False
True
True
False
True

In [57]:
# logical operators (and,or,not)
print(a>b and a>5)
print(a<b and a>5)
print(a>b or a>5)
print(a<b or a>5)
print(a>b or a<5)
print(not a<b)
print(not a>b)
print(not a and not b and not c)

False
False
False
True
True
False
True
False

In [58]:
# membership operators
colors=['red','blue','green','yellow','orange']
print('red' in colors)
print('blue' in colors)
print('green' in colors)
print('yellow' in colors)
print('orange' in colors)
print('purple' in colors)

True
True
True
True
True
False

In [59]:
# string searching
msg="Its the journey thats matters"
print('journey 'in msg)
print('destination'in msg)
print('you'not in msg)# absence or present

True
False
True

In [60]:
#is operator checks whether two objects belongs to same memory location or not.

In [96]:
#WAP to calculate area of circle.
a=float(input('Enter the radius'))
Formula=3.14*a**2
print('area','for a circle',Formula)

area for a circle 452.16

In [98]:
#WAP to calculate area of rectangle. 
l=float(input('Enter the length'))
b=float(input('Enter the breadth'))
print('Area of rectangle',l*b)

Area of rectangle 48.0

In [99]:
#Area of triangle
b=float(input('Enter the base'))
h=float(input('Enter the height'))
print('Area of triangle',h*b)

Area of triangle 120.0

Introduction to modules.

In [101]:
#WAP to calculate hypotenuse using perpendicular and base
import math
p=float(input('Enter the peerpendicular'))
b=float(input('Enter the base'))
h=math.hypot(p,b)
print('The required length of hypotenuse is-_',h)

The required length of hypotenuse is-_ 16.970562748477143

In [107]:
#WAP to find factorial of a number.
num=int(input('Enetr a number:'))
fact=math.factorial(num)
print('Factorial of',num, 'is',fact)

Factorial of 6 is 720

In [108]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [110]:
# compound interest
p=float(input('Enter a principal ='))
r=float(input('Enter rate ='))
t=float(input('Enter time ='))
n=float(input('Enter no. of times interest is compound='))
A=p*(1+r/n)**(n*t)
print('Amount is',A)
CI=A-p
print('compound interest is',ci)

Amount is 39321600.0
compound interest is 4.878734130422583e+21