- tuple

In [1]:
a=(1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [3]:
b=1,3,5,7
print(b)
print(type(b))

(1, 3, 5, 7)
<class 'tuple'>

In [4]:
for val in a:
    print(val)

1
2
3

In [8]:
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [9]:
print(("repeat",)*3)

('repeat', 'repeat', 'repeat')

In [12]:
tup=('a','p','p','l','e')
print(tup.count('p'))
print(tup.index('l'))

2
3

In [16]:
al=list(a)
print(al)

[1, 2, 3]

In [17]:
val=[2,3,12,312,31,32,123]
print(val)
valt=tuple(val)
print(valt)

[2, 3, 12, 312, 31, 32, 123]
(2, 3, 12, 312, 31, 32, 123)

- sets

In [18]:
s1={1,2,3,4,5,6,7,8,9,10,1,1,2,}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [19]:
my_set=set([1,2,3,2,3])
print(my_set)

{1, 2, 3}

In [22]:
my_set={1,2,[3,4]}

TypeError: unhashable type: 'list'

In [24]:
#empty set (set function() without any argument)
a=set()
print(type(a))

<class 'set'>

In [25]:
my_set={1,3}
my_set.add(2)
print(my_set)
my_set.update([2,3,4])
print(my_set)
my_set.update([4,5],[1,6,8])
print(my_set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [32]:
my_set={1, 2, 3, 4, 5, 6, 8}
print(my_set)
my_set.discard(4)
print(my_set)
my_set.remove(6)
print(my_set)
#pops a random item
my_set.pop()
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 5, 6, 8}
{1, 2, 3, 5, 8}
{2, 3, 5, 8}
set()

In [34]:
my_set.pop()
print(my_set)

TypeError: set.pop() takes no arguments (1 given)

- UNION & INTERSECTION

In [35]:
A={1,2,3,4,5,6}
B={4,5,6,7,8,9}
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [36]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [37]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
print(A&B)

{4, 5, 6}

In [39]:
A.intersection(B)

{4, 5, 6}

- SET DIFFERENCE

In [43]:
print(A-B)
A.difference(B)
print(B-A)
B.difference(A)

{1, 2, 3}
{8, 9, 7}

{7, 8, 9}

In [44]:
print(A^B)

{1, 2, 3, 7, 8, 9}

In [45]:
A.symmetric_difference(B)

{1, 2, 3, 7, 8, 9}

In [47]:
A={'fan','laptop','washing machine','iron','mixer','grinder','ac'}
B={'cooler','TV','Computer','charger','straightener','mixer','grinder','ac'}
print(A|B)
print(A&B)
print(A^B)
print(A-B)
print(B-A)

{'straightener', 'cooler', 'mixer', 'charger', 'fan', 'Computer', 'laptop', 'iron', 'grinder', 'washing machine', 'ac', 'TV'}
{'ac', 'grinder', 'mixer'}
{'straightener', 'cooler', 'charger', 'fan', 'Computer', 'laptop', 'iron', 'washing machine', 'TV'}
{'laptop', 'washing machine', 'fan', 'iron'}
{'straightener', 'cooler', 'charger', 'Computer', 'TV'}

* DICTIONARY

In [49]:
my_dict={'name':'Jack','age':26}
print(my_dict)

{'name': 'Jack', 'age': 26}

* accessing the value of dictionary

In [50]:
print(my_dict['name'])

Jack

In [51]:
print(my_dict['age'])

26

In [52]:
print(my_dict['address'])

KeyError: 'address'

In [54]:
print(my_dict.get('address'))

None

In [55]:
my_dict['age']=27
print(my_dict)
my_dict['address']='Downtown'
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [56]:
squares={1:1,2:4,3:9,4:16,5:25}
print(squares.pop(4))# poped out item will be shown
print(squares.popitem())# last item will removed
squares.clear()

16
(5, 25)

In [58]:
report={
    'student 1':{
        'name':'John',
        'marks':{
            'maths':80,
            'science':90,
            'history':70,
            'english':69,
            'EVS':86
    
        }
    },
    'student 2':{
        'name':'Mary',
        'marks':{
            'maths':70,
            'science':80,
            'history':60,
            'english':99,
            'EVS':96
         },     
         
    }      
}

In [59]:
report

{'student 1': {'name': 'John',
  'marks': {'maths': 80,
   'science': 90,
   'history': 70,
   'english': 69,
   'EVS': 86}},
 'student 2': {'name': 'Mary',
  'marks': {'maths': 70,
   'science': 80,
   'history': 60,
   'english': 99,
   'EVS': 96}}}

In [61]:
print(report['student 1'])

{'name': 'John', 'marks': {'maths': 80, 'science': 90, 'history': 70, 'english': 69, 'EVS': 86}}

In [63]:
print(report['student 1']['name'])
print(report['student 1']['marks'])
print(report['student 1']['marks']['history'])

John
{'maths': 80, 'science': 90, 'history': 70, 'english': 69, 'EVS': 86}
70

In [66]:
#loop for dictionary
for i in report:
    print(i)

student 1
student 2

In [67]:
for k,v in report.items():
    print(k,v)

student 1 {'name': 'John', 'marks': {'maths': 80, 'science': 90, 'history': 70, 'english': 69, 'EVS': 86}}
student 2 {'name': 'Mary', 'marks': {'maths': 70, 'science': 80, 'history': 60, 'english': 99, 'EVS': 96}}

In [70]:
for k,v in report.items():
    print("student:",k)
    if isinstance(v,dict):
        for k1,v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
            else:
                    print(v1)
    else:
        print(v)

student: student 1
John
maths 80
science 90
history 70
english 69
EVS 86
student: student 2
Mary
maths 70
science 80
history 60
english 99
EVS 96